# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/bin/
src/build/
more-sundials-examples/KINSOL/simple-example/bin/
more-sundials-examples/KINSOL/simple-example/build/
more-sundials-examples/CVODES/simple-adjoint-serial-example/bin/
more-sundials-examples/CVODES/simple-adjoint-serial-example/build/
more-sundials-examples/CVODE/simple-use-of-user-data/bin/
more-sundials-examples/CVODE/simple-use-of-user-data/build/
more-sundials-examples/CVODE/simple-use-of-user-data/bin/
more-sundials-examples/CVODE/simple-use-of-user-data/bin/

